// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil&display=swap');

$primary: #6C5A49;
$secondary: #271F30;
$accent: #7b9e7d;

// HEADING STYLES
h1, h2, h3, h4, h5, h6, label{
    font-family: 'Tiro Tamil', serif;
    font-weight: bold !important;
}
// HEADING STYLES

// BACKGROUND COLOR
.bg-primary-custom{
   background-color: $primary; 
   color: white;
}

.bg-secondary-custom{
    background-color: $secondary;
    color: white;

}
// BACKGROUND COLOR

// BUTTON COLOR
.btn-primary-custom{
    background-color: $primary !important;
    border-color: $primary !important;
    font-weight: bold !important;
}

.btn-secondary-custom{
    background-color: $accent !important;
    border-color: $accent !important;
    font-weight: bold !important;
}

// BUTTON COLOR

// NAVBAR
.navbar-logo{
    font-family: 'Tiro Tamil', serif;
    font-weight: bold;
}
// NAVBAR

// CARDS
.overlay-image{
    background-color: #333;
    opacity: 10%;
}
// CARDS